*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 40px;
  background-color: #151515;
  color: #f3f3f3;
  font-family: "Franklin Gothic Medium", Arial ,sans-serif;
}

h2{
  text-align: center;
  font-size: 48px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  max-width: 1024px;
  margin: 0 auto;
}

.card{
  border: 1px solid #4b5362;
  padding: 20px;
  margin: 10px;
  background-color: #31363f;
  border-radius: 10px;
  min-height: 100px;
}

.like-btn{
  background-color: transparent;
  color: #f3f3f3;
  font-size: large;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: right;
  cursor: pointer;
}