*{
    margin: 0px;
}
body{
    margin: 0px 5px 5px 5px;
    background-color: rgb(246, 246, 246);
    
}

aside{
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.side_bar{
    width: 25px;
    font-family: Roboto;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
.side_bar:hover{
    background-color: rgb(236, 236, 236);
}
nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(232, 232, 232);
    z-index: 100;
}
.logo_con{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    width: 25px;
    margin: 0px 20px 0px 20px;
}
.logo{
    width: 100px;
}
.len{
    width: 25px;
    padding: 0px 10px 0px 10px;
}
.len_btn{
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(247, 247, 247);
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}
.len_btn .tooltip{
    position: absolute;
    bottom: -39px;
    padding: 3px 5px;
    background-color: rgb(104, 104, 104);
    color: white;
    font-family: Roboto;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.len_btn:hover .tooltip{
    opacity: 1;
}

.len_btn:hover{
    background-color: rgb(234, 233, 233);
}
.mic{
    width: 25px;
}
.mic_btn{
    border-radius: 50%;
    border: none;
    display: flex;
    position: relative;
    justify-content: center;
}

.mic_btn .tooltip{
    position: absolute;
    bottom: -39px;
    padding: 3px 5px;
    background-color: rgb(104, 104, 104);
    color: white;
    font-family: Roboto;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.mic_btn:hover .tooltip{
    opacity: 1;
}


.input{
    margin: 0px 35px 0px 70px;
    display: flex;
    flex: 1;
    max-width: 500px;
}

.search_box{
    flex: 1;
    padding: 10px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 2px 0px 0px 2px;
    border-right: none;
    width: 0;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.quick{
    display: flex;
    flex: 1;
    max-width: 200px;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}

.features{
    width: 30px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 15px;
    padding: 20px 25px 25px 90px;
}
a{
    text-decoration: none;
    color: black;
}

@media (max-width: 750px){
    main{
    grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1000px){
    main{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.inner_card{
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 5px;
    margin: 5px 0px 0px 0px;
}
.text_card{
    line-height: 17px;
    font-size: 12px;
    font-family: Roboto;
}
.thumbnail{
    width: 100%;
}
.t_box{
    position: relative;
}
.time{
    position: absolute;
    background-color: rgba(15, 15, 15, 0.883);
    color: white;
    bottom: 10px;
    right: 4px;
    font-family: Roboto;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 2px;
}

.pic_con{
    width: 35px;
}
.pic{
    border-radius: 36px;
    max-width: 36px;
    object-fit: contain; 
}

.name{
    margin-top: 7px;
    color: rgb(96, 96, 96);
}

.info{
    color: rgb(96, 96, 96);
}
