*{
    margin: 0px;
}
body{
    margin: 5px;
}
nav{
    margin: 10px 0px;
}
.logo{
    display: inline-block;
}
.text_logo{
    display: inline;
}

.search_box{
    display: inline;
}

.card{
    width:300px;
    display: inline-block;
    margin: 0px 10px 10px 0px;
}

.inner_card{
    display: flex;
    margin: 5px 0px 0px 0px;
}
.text_card{
    display: inline-block;
    line-height: 17px;
    margin-left: 10px;
    font-size: 12px;
    font-family: Roboto;
}
.thumbnail{
    width: 300px;
}

.pic{
    border-radius: 36px;
    width: 36px;
    object-fit: contain;
    margin-left: 2px;
}

.name{
    margin-top: 7px;
    color: rgb(96, 96, 96);
}

.info{
    color: rgb(96, 96, 96);
}
