.about-hero {
  background: radial-gradient(circle at center, var(--color-white) 0%, var(--color-red-light) 60%);
  position: relative;
  overflow: hidden;
}

.about-hero .page-hero_title {
  white-space: pre-line;
}
