body {
    margin: 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.biopic-container {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    padding: 20px 0;
}

#biopic {
    width: 100%;
    max-width: 1000px;
    height: 400px;
    object-fit: cover;
}

.content, .Achievements, .Quotes, .Timeline, .Legacy, .Resources {
    width: 70%; /* More space for content */
    margin: 0 auto;
    line-height: 1.5;
    padding: 15px 0;
}

blockquote {
    font-style: italic;
}

.gallery {
    width: 70%; /* Adjust width */
    margin: 0 auto;
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between; /* Ensure spacing between images */
    align-items: center;
    padding: 20px 0;
}

.container img {
    object-fit: cover;
    width: 300px; /* Resize images for better fit */
}

.gallery-text {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
}

.Resources a:hover {
    border-bottom: 2px solid;
}
