*{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(https://i.postimg.cc/YqFd6KWs/1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

nav{
    width: 100%;
    height: 75px;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orangered;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px 0px 20px;
    float: left;
}

.menu{
    width: 900PX;
    float: left;
    height: 70px;
    padding: 20px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li{
    list-style: none;
    font-size: 25px;
}

.menu a{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.menu a:hover{
    color: orangered;
    border-bottom: 2px solid orangered;
}

.search-container{
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 15px;
}

.search{
    padding: 8px 20px;
    background: none;
    color: aliceblue;
    font-size: 15px;
    border: 2px solid rgb(223, 76, 23);
    border-radius:7px 0px 0px 7px ;
}

.search:focus{
    outline: none;
}

.btn{
    padding: 10px 30px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    background-color: orangered;
    border: none;
    cursor: pointer;
    border-radius:0px 7px 7px 0px ;
}

.search-container .btn:active{
    background-color: rgb(219, 67, 12);
}

.content{
    width: 700px;
    padding: 90px;
    color: aliceblue;
}

.content span{
    color: orangered;
}

.content h1{
    font-size: 70px;
}

.content p{
    font-size: 25px;
    line-height: 0.8cm;
    letter-spacing: 1.2px;
}

.cn{
    padding: 8px 40px;
    margin: 20px -1px;
    background-color: orangered;
    font-size: 25px;
    font-weight:bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.cn a{
    color: black;
}

.cn:active{
    background-color: rgb(219, 67, 12);
}

.login-card{
    width: 250px;
    height: 100%px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.775);
    position: absolute;
    top: 150px;
    right: 110px;
    border-radius: 14px;
    text-align: center;
    letter-spacing: 1px;
}

.login-card h2{
    background-color: orangered;
    width: 220px;
    padding: 8px 10px;
    text-align: center;
    margin: auto;
    border-radius: 14px;
}
.login-card label {
    display: block;
    color: aliceblue;
    text-align: left;
    margin: 20px 15px 10px ;
    font-weight:bold ;
    letter-spacing: 1px;
    font-size: 17px;
}
.login-card input{
    width: 220px;
    padding: 10px 0px;
    margin: 0px 0px 0px 0px ;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid orangered;
    letter-spacing: 1px;
    color: aliceblue;
}

::placeholder{
    color: rgba(240, 248, 255, 0.781);
}
.login-card .btn1{
    padding: 8px 90px;
    border-radius: 14px;
    font-size: 22px;
    font-weight: bolder;
    margin: 30px 0px;
    font-family: a;
    transition: 0.4s ease-in-out;
    border: none;
    background-color: #f0f8ffd7;
    cursor: pointer;
}

.login-card .btn1:hover{
    background-color: orangered;
    border: none;
}

.link{
    color: orangered;
}

.login-card p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 25px;
}

footer p{
    margin: 20px;
}

footer a{
    font-size: 30px;
    margin: 5px;
    transition: 0.4s ease-in-out;
}

footer a:hover{
    color: orangered;
}